{# PLANTILLA DETALLE
 # color:  Color del cuadro
 # titulo: Título para el cuadro
 # icono:  Ícono usado en cuadro
 # link:   Link del cuadro
 #}
<div class="col-lg-3 col-md-6">
    <div class="panel panel-{{color}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-{{icono}} fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{total}}</div>
                    <div>{{titulo}}</div>
                </div>
            </div>
        </div>
        <a href="{{ link }}">
            <div class="panel-footer">
                <span class="pull-left">Ver detalle</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
