{# PLANTILLA BASE DE LAS ACTIVIDADES DE MANTENIMIENTO#}
<div class="form-group col-md-12">
  <div class="col-md-1">
    <p>{{numero}}</p>
  </div>
  <div class="col-md-6">
    {% if actividad_value is defined  %}
    <input name="{{checkboxes_id}}"  id="{{checkboxes_id}}" value="{{checkbox_value}}" type="checkbox">
    <input type="hidden" name="{{actividad_id}}" id="{{actividad_id}}" value="{{actividad_value}}" />
    {% endif %}
    <p>{{titulo}}</p>
  </div>
  <div class="col-md-3">
    <a href="#" class="btn btn-info btn-sm active" role="button" data-toggle="modal" data-target="#{{id}}">
      Ayuda&nbsp;<span class="fa fa-question" aria-hidden="true"></span>
    </a>
    <a href="{{ asset(pdf) }}" class="btn btn-warning btn-sm active" role="button">
      Procedimiento&nbsp;<span class="fa fa-file-pdf-o" aria-hidden="true"></span>
    </a>
  </div>
</div>
{# MENSAJE MODAL #}
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ayuda</h4>
      </div>
      <div class="modal-body">
        <p>{{ mensaje }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>{#/.modal-content#}
  </div>{#/.modal-dialog#}
</div>{#/.modal#}
